* {
    margin: 0px;
    padding: 0px;
}

body {
    background: url("https://i.pinimg.com/originals/81/6d/fd/816dfd710806e20aa40a7cd8c76d2e2d.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.root {
    width: 100%;
    height: 100vh;
    background-color: #000000a4;
}

.head {
    color: greenyellow;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    padding-top: 2vh;
}

.container {
    background-color: aliceblue;
    display: grid;
    margin: auto;
    margin-top: 3vh;
    text-align: center;
    width: 60%;
    padding: 5px;
    padding-left: 20px;
    font-size: 25px;
}

form input {
    width: 100%;
}

#button,
#button1 {
    background-color: blue;
    font-weight: bold;
    color: aliceblue;
    display: inline-block;
    border-radius: 7px;
    text-align: center;
    padding: 3px;
}

#button:hover,
#button1:hover {
    cursor: pointer;
    background-color: darkblue;
}

.list {
    width: 90%;
    margin: auto;
    margin-left: 0.5vh;
    text-align: left;
    max-height: 60vh;
    overflow-y: auto;
}

ul li {
    display: grid;
    grid-template-columns: 90% 7% 3%;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}
ul li span:first-child{
    background-color: greenyellow;
    text-align: center;
}
ul li span:last-child{
    background-color: red;
    color: white;
    text-align: center;
}
.edit {
    font-size: 18px;
}

.edit:hover {
    color: blue;
    cursor: pointer;
}

ul li:nth-child(odd) {
    background: #f9f9f9;
}

ul li:hover {
    background: #ddd;
    border-radius: 30px;
}

@media(max-width: 768px){
    .head{
        font-size: 38px;
    }
    h3{
        font-size: 25px;
    }
    p{
        font-size: 18px;
    }
    .container{
        width: 90%;
    }
    ul li{
        grid-template-columns: 78% 15% 10%;
        padding: 6px;
        padding-left: 7px;
        font-size: 70%;
    }
    ul li span{
        justify-content: center;
        font-size: 70%;
    }
}
@media(min-width:769px) and (max-width: 1023px){
    .head{
        font-size: 45px;
    }
    h3{
        font-size: 30px;
    }
    p{
        font-size: 25px;
    }
    .container{
        width: 80%;
    }
    ul li{
        grid-template-columns: 85% 10% 5%;
        padding: 6px;
        padding-left: 7px;
    }
    ul li span{
        justify-content: center;
        font-size: 70%;
    }
}